* {
    --fondo: #e7ffe8;
    --items-color1: #c7f7d0;
    --items-color2: #aceaa8;
    --items-color3: #94c791;
    --items-color4: #88a986;
    --items-color5: #76ad7b;
    --items-color6: #70cc78;
    --shadows: rgb(129, 129, 129);
    user-select: none;
    font-family: 'Trebuchet MS';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro-container {
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--shadows);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: var(--items-color5);
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid var(--items-color3);
    font-size: 15px;
}

button {
    width: 95%;
    padding: 10px;
    background-color: var(--items-color5);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, padding 0.3s;
}

button:hover {
    background-color: var(--items-color6);
    padding: 15px;
}

.error {
    color: red;
    margin-top: 10px;
}

.exito {
    color: green;
    margin-top: 10px;
}